@charset "utf-8";

:root{
    --cor0:#BDE4FF;
    --cor01:#8698D9;
    --cor02:#AEA1F0;
    --cor03:#B484D9;
    --cor04:#F596FA;
    --cor05:#623387;
    
}

*{
    margin: 0px;
    padding: 0px;
 
}

header h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor0);
}

header h2{
    font-size: 25px;
    font-family: "Montserrat", Sans-serif;
    padding: 17px;
    color: var(--cor0);
}

header{
    background-image: linear-gradient(to bottom, var(--cor04), var(--cor01));
    width: 100vw;
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}
nav{
    background-color:var(--cor01) ;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.365);
}

nav > a{
    color: var(--cor0);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition-duration: 1s ;
}

nav >a:hover{
    background-color: var(--cor03);
    color: var(--cor0);
}

body{
    background-color:var(--cor03);
}


#salao{
    display: flex;
    justify-content: center;
    padding: 4px 5px;
    margin: 5px;
    border: 5px;  
}

.espaçoSalao img {
    display: flex;
    border: 10px;
    padding: 4px 5px;
    margin: 2px;
    width: 320px;
    height: 205px;
    border-radius: 10px; 
}

main h1{
    color: var(--cor0);
    text-indent: 24px;
    display: flex;
    font-size: 50px;
    justify-content: center;

}

#servico{
    display: flex;  
    justify-content: center;
    
}


.servicoSalão{
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 400px;
    transition: all 0.3s linear;
    overflow: hidden;
    border-radius: 12px;
    justify-content: space-around;
    margin: 20px;
}

.servicoSalão img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s linear; 
}

.teste{
    display:flex;
    justify-content: space-evenly;
    width: 300px;
    height: 400px;
    position: absolute; 
    top: 0%;
    left: 0%; 
}





.servicoSalão h4{
    color: var(--cor0);
    font-size: 29px;
    text-shadow: 1px 1px 10px rgb(0, 0, 0, 0.9);  
}


.servicoSalão:hover{
    box-shadow: 0 0 8px var(--cor0);
    border: 2 solid rgb(255, 255, 255) ;
    
}

.servicoSalão:hover img{
    scale: 1.2;
    
}