@charset "utf-8";

:root{
    --cor0:#BDE4FF;
    --cor01:#8698D9;
    --cor02:#AEA1F0;
    --cor03:#B484D9;
    --cor04:#F596FA;
    --cor05:#623387;
    
}

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif; 
}

header h1{
    font-size: 50px;
    color: var(--cor0);
}

header h2{
    font-size: 25px;
    font-family: "Montserrat", Sans-serif;
    padding: 17px;
    color: var(--cor0);
}

header{
    background-image: linear-gradient(to bottom, var(--cor04), var(--cor01));
    width: 100vw;
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}
nav{
    background-color:var(--cor01) ;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.365);
}

nav > a{
    color: var(--cor0);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition-duration: 1s ;
}

nav >a:hover{
    background-color: var(--cor03);
    color: var(--cor0);
}

body{
    background-color:var(--cor03);
}

.quemSomos{
    display: flex;
    padding: 50px;
    justify-content: center;
    margin-top: 5%;

}

.imgQuemSomos{

    padding: 0px 35px;

}
.imgQuemSomos img{
    display: flex;
    justify-content: center;
    width:410px;
    height: 307px;
    margin-top: 60%;
    border-radius: 12px;

}

.texto{
    
    width:410px;
    height: 307px;
    margin-top: 2%;
    
}

@keyframes fade {


    from{ 
        transform: translate(100%, 0px) ;
        opacity: 0.3;  
    }

    to{
        opacity: 1;
        transform: translate(0%, 0px) ;

    }
    
}
.texto h2{
    color: var(--cor0);
    font-size: 40px;
    text-align: center;
    animation: fade 1s ease  200ms backwards ;    
    
}



.texto p{
    padding: 50px 25px 50px 25px;
    color: var(--cor0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0px;
    animation-delay: 1600ms;
    animation: fade 1s ease  200ms backwards ;    

    
}

.conhecaNossoTrabalho{
    margin: 12%;
}

.conhecaNossoTrabalho h1{
    color: var(--cor0);

}

.conhecaNossoTrabalho img{
    height: 250px;
    width: 250px;
    border-radius: 12px;

}
